<div class="movies-container">
    <movies-header class="movies-container__header"></movies-header>
    <div class="movies-container__body">
        <router-outlet></router-outlet>
    </div>
    <div class="movies-container__powered-by">
        <h2 class="movies-container__powered-by--suffix">
            Powered By
        </h2>
        <a class="movies-container__powered-by--icon"
           href="https://www.themoviedb.org/"
           target="_blank">
            <img alt="The Movie Database (TMDB)"
                 src="/assets/images/common/alt-long-blue.svg">
        </a>
    </div>
</div>
