.movie-list-container {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;

    &__sort-by-strip {
        height: 2.5rem;
        background-color: red;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
    }

    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
    }
}
